/*Estilização geral*/

body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: black;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a { 
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}

img {
    max-width: 300px;
    display: block;
} 

/*Estilização header*/

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: "Pirata One", system-ui;
    background-color: rgb(170, 50, 50);
    color: rgb(20, 20, 20);
    text-align: center; 
}

.header > p {
    font-family: "Pirata One", system-ui;
}

/*Estilização menu*/

.menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
}

.menu li{
    margin-left: 20px;
    padding: 5px;
}

.menu li a {
    display: block;
    padding: 10px;
    
}

/*Estilização seções texto*/

.noticia {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    align-items: center;
    max-width: 100%;
    border-top: 1px solid #ccc;
}

/*Estilização galeria*/

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    grid-gap: 20px;
}    

@media (max-width: 768px) {
    .galeria{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px){
    .galeria{
        grid-template-columns: 1fr;
    }
}

/*Estilização formulário*/

.secaoFormulario {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 20px;
    max-width: 100%;
    padding: 10px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .secaoFormulario {
        grid-template-columns: 1fr;
        align-items: center;
    }

    .imagemFormulario {
        max-width: 100%;
        margin-top: 20px;;
    }

    .divFormulario {
        width: 100%;
    }
}

@media (max-width: 480px){
    .imagemFormulario {
        margin-top: 20px;
        max-width: 100%;
    }
    .divFormulario{
        width: 100%;
    }
}

.imagemFormulario {
    max-width: 100%;
    border: 1px solid #ccc;
}

.divFormulario {
    display: flex;
    flex-direction: column;
}

.genero {
    border: 1px solid #ccc;
}

fieldset {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 2px solid #ccc;
    margin: 15%;
    margin-top: 2%;
    justify-content: center;
}

legend {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,  select,  textarea {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #ea4c46;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.1rem;
    cursor: pointer;
}

button:hover {
    background-color: #c2332b;
}

/*Estilização footer*/

.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(170, 51, 51);
    color: rgb(22, 22, 24);
}

.footer > p {
    font-family: "Pirata One", system-ui;
}
